body {
  margin: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card1 {
  width: 300px;
  height: 300px;
  margin: 50px auto;
  border: 1px solid lightgray;
  padding: 16px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 12px;
  text-align: center;
}

.card1-btn {
  width: 80%;
  margin: 10px;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  border: 1px solid lightgray;
}
.othercards {
  text-align: center;
  width: 300px;
  margin: 30px auto;
  height: 300px;
}
.mainpage-link {
  width: 90%;
  border: 1px solid gray;
  padding: 20px;
  background-color: lightgray;
  margin: 15px;
  border-radius: 10px;
}
